.layoutPanel {
    float: right;
    margin: 3px 20px 3px 0;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 3px 8px 0 10px;
}

.layoutPanel>div {
    color: white;
    float: left;
    padding: 6px 8px 0 0;
}

.layoutPanel button {
    margin: 0 4px 0 2px;
}

.hierarchyBtn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    outline: none;

    position: relative;
}

.hierarchyBtn>div {
    margin: 0;
    overflow: visible;
}

.hierarchyBtn>div:after {
    content: "";
    display: block;
    background-color: #f4f4f4;
    height: 30px;
    width: 8px;
    margin-top: -30px;
}

.hierarchyBtn>div:hover:after {
    background-color: #1E95CF;
}

.hierarchyBtn>div:active:hover:after {
    background-color: #066B9E;
}

.hierarchyBtn span {
    display: none;
}

.hierarchyBtn img {
    display: block;
    height: 30px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.hierarchyBtn:hover {
    cursor: pointer !important;
    /*background: #56a6c8;*/
}

.hierarchyBtn:active:hover {
    cursor: pointer !important;
}

.hierarchyBtn:disabled, .hierarchyBtn:disabled:active{
    cursor: default !important;
}

.detailsBtn {
     background-color: transparent;
     color: white;
     border: none;
     padding: 0;
     outline: none;

     position: relative;
 }

.detailsBtn>div {
    margin: 0;
    overflow: visible;
}

.detailsBtn>div:after {
    content: "";
    display: block;
    background-color: #f4f4f4;
    height: 8px;
    width: 21px;
    margin-top: -8px;
    margin-left: 8px;

}

.detailsBtn>div:hover:after {
    background-color: #1E95CF;
}

.detailsBtn>div:active:hover:after {
    background-color: #066B9E;
}

.detailsBtn span {
    display: none;
}

.detailsBtn img {
    display: block;
    height: 30px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.detailsBtn:hover {
    cursor: pointer !important;
}

.detailsBtn:active:hover {
    cursor: pointer !important;
}

.detailsBtn:disabled, .hierarchyBtn:disabled:active{
    cursor: default !important;
}

.centreBtn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    outline: none;

    position: relative;
}

.centreBtn>div {
    margin: 0;
    overflow: visible;
}

.centreBtn>div:before {
    content: "";
    display: block;
    background-color: #f4f4f4;
    height: 23px;
    width: 22px;
    margin-bottom: -23px;
    margin-left: 8px;

}

.centreBtn>div:hover:before {
    background-color: #1E95CF;
}

.centreBtn>div:active:hover:before {
    background-color: #066B9E;
}

.centreBtn span {
    display: none;
}

.centreBtn img {
    display: block;
    height: 30px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.centreBtn:hover {
    cursor: pointer !important;
}

.centreBtn:active:hover {
    cursor: pointer !important;
}

.centreBtn:disabled, .hierarchyBtn:disabled:active {
    cursor: default !important;
}