.hierarchyItem {
    background-color: transparent;
    border: none;
    color: #000000;
    font-weight: normal;
    font-style: normal;

}

.hierarchyItem img {
    margin-right: 5px;
}

.hierarchyTextContainer {
    background-color: transparent !important;
    display: inline-block;
}

.hierarchyItemSelected {
    background-color: rgb(30, 148, 208) !important;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    padding: 2px 2px 2px 4px;
}

.hierarchyItemHighlighted {
    background-color: rgb(98, 140, 213) !important;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    padding: 2px 2px 2px 4px;
}

.hierarchyItemHit {
    border: 2px solid rgb(211, 138, 74) !important;
    border-radius: 5px;
    padding: 0 3px 0 2px;
}