.analysisTabSummary {
    float: left;
    padding: 0 10px 2px 10px;
    overflow-x: hidden;
    white-space: nowrap;
}

.analysisTabSummary select {
    background: transparent;
    border: none;
    color: #326599;
    font-size: smaller;
    margin: -2px 0 0 0 !important;
    padding: 0 !important;
}

.analysisTabSummaryInfo {
    background: #ddecec;
    border: 1px solid #899898;
    border-radius:5px;
    color: #326599;
    float: left;
    margin: 4px 10px 0 0;
    padding: 4px 10px 4px 10px;
}

.analysisTableSelector {
    float: right;
    padding: 4px 5px 2px 0;
    overflow-x: hidden;
}

.analysisTableSelectorButton {
    display: inline-block;
    float: right;
    padding: 4px 10px;
    text-align: center;
}

.analysisRowSelector {
    padding: 0;
    border: solid 1px transparent;
    background: transparent;
}

.analysisRowSelector:hover {
    border: solid 1px #0000ff;
    background-color: #f0ffff !important;
}

.analysisRowSelector:active {
    box-shadow: inset -2px -2px 2px #888;
}
