.logo {
    float: left;
    margin: 2px 0 0 4px;
}

.logo img {
    outline: none;
    border: 0;      /* for IE 9 compatibility */
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.beta {
    position: absolute;
    left: 0;
    top: 0;
}

.versionsPanel {
    float: right;
    margin-left: 10px;
}

.versionsPanel img {
    cursor: pointer;
    margin-right: 4px;
    outline: none;
    border: 0;      /* for IE 9 compatibility */
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.versionsPanel a {
    color : white;
}

.versionsPanel a span {
    position: relative;
    top: -2px;
}

.appVersion {
    margin-top: 1px;

    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.dataVersion {
    margin-top: 14px;
    color: white;

    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
