.wizardTop{
    margin: 5px;
    display: flex;
    justify-content: center;
}

.wizardTop img {
    height: 45px;
    width: auto !important;
}

.container {
    font-family: system-ui, Arial, sans-serif !important;
    font-size: medium;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.title {
    color: rgb(14, 124, 179);
    font-weight: bold;
    font-size: larger;
    text-align: justify;
    margin: 15px 5px;
}

.methodsPanel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    overflow: auto;
}

.navigationPanel {
    /*background: #46d1de;*/
    position: absolute;
    height: 32px;
    width: 100%;
}

.rightButton {
    float: right;
    margin-right: 10px;
}

.leftButton {
    float: left;
    margin-left: 10px;
}

.navigationBtn {
    background-color: rgb(30, 148, 208);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 3px 10px 3px 10px;
    outline: none;
    font-size: medium !important;
}

.navigationBtn span {
    vertical-align: middle !important;
    display: inline-block;
    min-width: 60px;
    max-width: 160px;
}

.navigationBtn img {
    vertical-align: middle !important;
    padding-right: 3px;
    height: 24px;
    width: auto;
}

.navigationBtn:hover {
    background-color: #177dc0;
    cursor: pointer !important;
}

.navigationBtn:active:hover {
    background-color: #07558b;
    cursor: pointer !important;
}

.navigationBtn:disabled, .navigationBtn:disabled:hover, .navigationBtn:disabled:active{
    background-color: #9a9c9e;
    cursor: default !important;
}

.datasetsListContainer {
    max-height: 80px;
    /*max-width: 950px;*/
    border-bottom:#efefef solid 1px;
    padding-bottom: 10px;
}

.datasetsList {
    /*background: #908aca;*/
}

.emptyListLabel {
    font-style: italic;
    color: #F6BB42;
    margin-left: 15px;
}

.itemIcon {
    height: 16px;
    width: auto;
    opacity: 0.7;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.itemIcon:hover {
    height: 16px;
    width: auto;
    opacity: 1;

}

.addNewDatasetBtn {
    align-self: center;
    background-color: #0e7cb3;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    padding: 0;
    border: 0;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.addNewDatasetBtn>div {
    margin: 0;
    position: relative;
}

.addNewDatasetBtn span {
    display: none;
}

.addNewDatasetBtn img {
    display: block;
    height: 32px;
    width: auto;
    margin: 3px;
    padding: 2px;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.addNewDatasetBtn:hover {
    background-color: #1E95CF;
    cursor: pointer !important;
}

.addNewDatasetBtn:active:hover {
    background-color: #035d9c;
    cursor: pointer !important;
}

.addNewDatasetBtn:disabled, .addNewDatasetBtn:disabled:hover, .addNewDatasetBtn:disabled:active{
    background-color: #9a9c9e;
    cursor: default !important;
}

.rotate {
    transform: rotate(135deg);
}

.nameLabel {
    color: rgb(14, 124, 179);
    font-weight: bold;
    font-size: large;
    text-align: justify;
    margin-left: 5px;
    max-width: 250px;
    /*margin: 15px 5px;*/
}

.nameTextBox {
    color: rgb(14, 124, 179);
    font-weight: bold;
    font-size: large;
    text-align: justify;
    margin-left: 5px;
    margin-top: 3px;
    max-width: 350px;
    border-radius: 5px;
}

.annotationsPlaceholder {
    background: #2b5e6d;
    height: 250px;
}

.comparisonLB {
    color: rgb(14, 124, 179);
    font-weight: bold;
    font-size: large;
    text-align: justify;
    margin-left: 5px;
    max-width: 250px;
}

.comparisonPanel {
    margin-bottom: 10px;
}

.comparisonPanel select {
    /*border: 0;*/
    float: left;
    margin: 0 0 0 10px;
    background: transparent;
    border: 1px solid rgb(14, 124, 179);
    border-radius: 5px;
    color: rgb(14, 124, 179);
    font-size: large;
    font-weight: bold;
    outline: none;
}

.comparisonPanel select option {
    /*color: black;*/
}

.groupOneLB {
    color: rgb(14, 124, 179);
    font-weight: bold;
    font-size: large;
    text-align: justify;
    margin-left: 5px;
    max-width: 250px;
}

.groupOnePanel {
    margin-bottom: 10px;
}

.groupOnePanel select {
    /*border: 0;*/
    float: left;
    margin: 0 0 0 10px;
    background: transparent;
    border: 1px solid rgb(14, 124, 179);
    border-radius: 5px;
    color: rgb(14, 124, 179);
    font-size: large;
    font-weight: bold;
    outline: none;
}

.groupOnePanel select option {
    /*color: black;*/
}

.groupTwoLB {
    color: rgb(14, 124, 179);
    font-weight: bold;
    font-size: large;
    text-align: justify;
    margin-left: 5px;
    max-width: 250px;
}

.groupTwoPanel {
    margin-bottom: 10px;
}

.groupTwoPanel select {
    /*border: 0;*/
    float: left;
    margin: 0 0 0 10px;
    background: transparent;
    border: 1px solid rgb(14, 124, 179);
    border-radius: 5px;
    color: rgb(14, 124, 179);
    font-size: large;
    font-weight: bold;
    outline: none;
}

.groupTwoPanel select option {
    /*color: black;*/
}

.covariatesLB {
    color: rgb(14, 124, 179);
    font-weight: bold;
    font-size: large;
    text-align: justify;
    margin-left: 5px;
    max-width: 250px;
}

.covariatesListBox {
    height: 100px;
    overflow: auto;
    padding: 7px;
    font-size: medium;
}

.covariatesListBox input[type=checkbox] {
    transform: scale(1.5);
    margin: 5px 2ex;
}

.optionsPanel {
    max-width: 750px;
}

.optionsPanel input {
    max-width: 260px !important;
}

.annotationInfoPanel {
    margin-top: 10px;
    max-width: 650px;
    padding: 3px;
    color: rgb(14, 124, 179);
    font-size: medium;
    font-weight: bold;
}

.disclaimerPanel {
    margin-top: 15px;
    max-width: 750px;
    padding: 3px;
    color: rgb(14, 124, 179);
    font-size: small;
    font-weight: bold;
    font-style: italic;
}

.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.analysisInfoPanel {
    margin-top: 15px;
    max-width: 750px;
    padding: 3px;
    color: rgb(14, 124, 179);
    font-size: small;
    font-weight: bold;
    font-style: italic;
}

.statusPanel {
    width: 600px;
    color: rgb(14, 124, 179);
    font-size: medium;
    font-style: italic;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.statusPanel img {
    width: 250px;
    height: auto;
}

.titleFont {
    font-size: large;
    font-weight: bold;
    font-style: normal;
}

.errorPanel {
    background: rgb(179, 57, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    color: white;
    font-size: medium;
    font-style: italic;
    margin-bottom: 10px;
    padding: 4px;
}

.errorPanel div {
    padding: 3px;
    margin-bottom: 10px;
    text-align: justify;
}

.errorPanel img {
    width: 80px;
    height: auto;
    align-self: center;
}

.resultsPanel {
    width: 600px;
    color: rgb(14, 124, 179);
    margin-top: 100px;
    margin-bottom: 55px;
}

.resultsPanel img {
    width: 250px;
    height: auto;
}

.resultsPanel a {
    font-size: large;
    font-weight: bold;
    font-style: normal;
    color: rgb(14, 124, 179);
}

.reportsPanel {
    width: 600px;
    color: rgb(14, 124, 179);
    display: flex;
    flex-direction: column;
}

.reportsPanel img {
    width: 24px;
    height: auto;
}

.reportsPanel a {
    font-size: large;
    font-weight: bold;
    font-style: normal;
    color: rgb(14, 124, 179);
    margin-bottom: 5px;
    margin-left: 18px;
}