.analysisContainer {
    min-width: 750px;
    padding: 5px 15px 0 5px;
    width: auto;
}

.analysisTitle {
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}

.analysisTitle span {
    color: rgb(14, 124, 179);
    font-size: x-large;
    font-weight: bolder;

}

.analysisText {
    color: rgb(14, 124, 179);
    font-size: medium;
    font-weight: bold;
    text-align: justify;
}

.analysisBlock {
    border-radius:5px;
    float: left;
    margin: 5px 0 5px 0;
    padding: 5px 10px 15px 10px;
    vertical-align: middle;
    width: 97%;
    cursor: default;
}

.analysisSubmission {
    padding:5px 5px 33px 0;
    color: white;
    font-size: medium;
}

.analysisMainSubmitter {
    background-color: #58c3e5;
    border: 1px solid #0e7cb3;
    border-radius: 5px;
}

.analysisSubmission div {
    float: left;
    margin-left: 10px;
    padding-top: 5px;
}

.analysisSubmission input {
    float: left;
    padding-left: 12px;
    padding-top: 8px;
}

.analysisSubmission span {
    float: left;
    padding-left: 5px;
    padding-top: 5px;
}

.analysisSubmission button {
    background: #1e95cf;
    color: white;
    border-radius: 16px;
    border: 1px solid #0e7cb3;
    float: right;
    font-size: 13px;
    font-weight: bolder;
    width: 32px;
    height: 32px;
    margin-top: -2px;
    outline: none;
    padding: 0 !important;
}

.analysisSubmission button:hover {
    background: #066b9e;
    border: 1px solid #1e95cf;
}

.analysisSubmission button:active:hover {
    color: #066b9e;
    background: white;
    border: 2px solid #066b9e;
}

.analysisSubmission img {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

.analysisSubmission select {
    /*border: 0;*/
    float: left;
    margin: 0 0 0 10px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    font-size: large;
    font-weight: bold;
}

.analysisBlock textarea {
    border: 1px solid gray;
    height: 228px;
    overflow-x: scroll;
    margin-left: 5px;
    width: 97%;
}

.analysisCheckBox{
    color: white;
    vertical-align: middle;
    font-size: small;
}

.disclosurePanel {
    width: 100%;
    margin-top: 5px;
}

.emphasis {
    font-size: larger;
    margin-top: -4px;
    font-weight: bold;
}

.postSubmitterExamples {
    padding-right: 5px;
}

.postSubmitterExamples div {
    float: left;
    margin-bottom: 5px;
    width: 200px;
}

.postSubmitterExamples button {
    background: #1e95cf;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    margin-top: 2px;
    width: 200px;
    outline: none;
    padding: 6px 0 6px 0;

}

.postSubmitterExamples button:hover {
    background: #066b9e;
    border: 1px solid #1e95cf;
}

.postSubmitterExamples button:active:hover {
    color: #066b9e;
    background: white;
    border: 1px solid #066b9e;
}

.postSubmitterCheckBox {
    color: rgb(14, 124, 179);
    vertical-align: middle;
    font-size: small;
}

.postSubmitterClear {
    background: #1e95cf;
    float: left !important;
    margin: 0 335px 0 0 !important;
    width: 100px !important;
}

.postSubmitterClear:hover {
    background: #066b9e;
    border: 1px solid #1e95cf;
}

.unselectable {
    -webkit-touch-callout: none; /* Prevents selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.statusIcon {
    opacity:0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */
}

.statusIconVisible {
    opacity:1;
}