.popupPanel {
    border: 3px solid gray !important;
    border-radius: 15px;
    padding: 5px 10px 10px 10px;
    background-color: rgb(30, 148, 208) !important;
}

.analysisPanel {
    min-width: 800px;
    min-height: 500px;
    width: 100%;
    padding: 2px 0 0 2px;

}
.header {
    float: left;
    padding: 2px 0 2px 0;
    width: 100%;
}

.headerIcon {
    float: left;
    margin-right: 8px;
    margin-top: -3px;
}

.headerText {
    float: left;
    min-width: 570px;
    color: white;
    font-weight: bolder;
    font-size: large;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    cursor: default;
}

@sprite .close {
    gwt-image: 'closeNormal';
    outline: none;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}

@sprite .close:hover {
    gwt-image: 'closeHovered';
}

@sprite .close:active:hover {
    gwt-image: 'closeClicked' ;
}

.outerPanel {
    float: left;
    width: 100%;
    height: 100%;
}

.buttonsPanel {
    float: left;
    width: 15%;
    min-width: 80px;
    /*max-width: 160px;*/
}

.buttonsPanel button {
    color: white;
    /*border-top: solid 1px white;*/
    /*border-left: solid 2px white;*/
    /*border-bottom: solid 1px white;*/
    border-radius: 10px 0 0 10px;
    background: none rgb(88, 195, 229);
    font-size: medium;
    padding: 0 2px 0 2px !important;
    outline: none;
    width: 100%;
    height: 150px;
}

.unselectable {
    -webkit-touch-callout: none; /* Prevents selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.undraggable {
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.buttonsPanel button:hover {
    background: none rgb(30, 148, 208);
}

.buttonSelected {
    background: none rgb(6, 107, 158) !important;
}

.container {
    float: left;
    width: 85%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 10px 10px 10px;
    background-color: white;
}