.explanationPanel {
    display: block;
    /*background-color: rgb(217, 237, 247);*/
    color: rgb(88, 195, 230);
    /*border-radius: 5px;*/
    /*border: 1px solid rgb(88, 195, 230);*/
    font-size: small;
    overflow: hidden;
    line-height: 30px;
    height: 28px;
    width: 630px;
}

.explanationPanel img{
    margin: 2px 3px 0 0;
    height: 25px;
    width: auto;
    float: left;
}

.explanationPanel div {
    float: left;
    font-weight: bold;
}

.downloadItem {
    height: 85px;
    width: 85px;
    margin: 15px 30px 15px 30px;
    background-color: #58c3e5;
    text-decoration: none;
    color: white;
    padding: 6px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.downloadItem:hover {
    height: 85px;
    width: 85px;
    margin: 15px 30px 15px 30px;
    background-color: #5cccee;
    text-decoration: none;
    color: white;
    padding: 6px;
    display: inline-block;
    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    transform: scale(1.1, 1.1);
}
