.viewportContainer {
    background-color: rgb(88, 195, 229);

    /*No selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.viewportPanel {
    background-color: white !important;
    border: 0 solid transparent;
    border-radius: 15px 0 0 0 !important;
}